<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd

In [10]:
df = pd.read_excel('./export_valores_mensais.xlsx')
df

,PAÍS,EXPORTAÇÃO (JAN - JUN/2020),EXPORTAÇÃO (JAN/JUN2019),IMPORTAÇÃO (JAN/JUN2020),IMPORTAÇÃO (JAN/JUN2019),SALDO(2020),SALDO(2019),CORRENTE (2020),CORRENTE (2019)
0,Total Geral,101719578613,109448134654,79396522233,83767891548,22323056380,25680243106,181116100846,193216026202
1,China,34351112105,29976597903,16695323072,17974223248,17655789033,12002374655,51046435177,47950821151
2,Estados Unidos,10048062241,14720335543,13179507743,13785638137,-3131445502,934697406,23227569984,28505973680
3,Países Baixos (Holanda),4223097367,4256588682,647003907,935772379,3576093460,3320816303,4870101274,5192361061
4,Argentina,3695105886,5138683855,3673118327,5305393724,21987559,-166709869,7368224213,10444077579
...,...,...,...,...,...,...,...,...,...
244,Saara Ocidental,0,21574,9851,0,-9851,21574,9851,21574
245,Svalbard e Jan Mayen,0,0,2800,0,-2800,0,2800,0
246,Tadjiquistão,0,34000,229787,268525,-229787,-234525,229787,302525
247,Território Britânico do Oceano Índico,0,1166,0,0,0,1166,0,1166
248,Toquelau,0,0,159973,200998,-159973,-200998,159973,200998

In [11]:
df1 = pd.read_excel('./export_junho_bal_comercial.xlsx')
df1

,ANO,EXPORTAÇÃO (A),IMPORTAÇÃO (B),SALDO(A-B),CORRENTE (A+B),EXPORTAÇÃO (A).1,IMPORTAÇÃO (B).1,CORRENTE (A+B).1
0,2001,5037237666,4748374983,288862683,9785612649,3.858383,3.432911,3.651491
1,2002,4074345872,3392528713,681817159,7466874585,-19.115473,-28.553901,-23.695380
2,2003,5870395443,3517400117,2352995326,9387795560,44.081912,3.680777,25.725904
3,2004,9306641136,5523155106,3783486030,14829796242,58.535166,57.023794,57.968888
4,2005,10225065341,6158080439,4066984902,16383145780,9.868482,11.495700,10.474517
5,2006,11452428542,7352736030,4099692512,18805164572,12.003475,19.399805,14.783600
6,2007,13112703159,9284865192,3827837967,22397568351,14.497140,26.277690,19.103283
7,2008,18581634423,15882447756,2699186667,34464082179,41.707123,71.057387,53.874214
8,2009,14460763044,9876841477,4583921567,24337604521,-22.177120,-37.812851,-29.382699
9,2010,17088559146,14828947481,2259611665,31917506627,18.171905,50.138559,31.144816
10,2011,23683910083,19251134755,4432775328,42935044838,38.595126,29.821316,34.518794
11,2012,19340965719,18555490041,785475678,37896455760,-18.337109,-3.613526,-11.735376
12,2013,21126804222,18830624180,2296180042,39957428402,9.233451,1.482764,5.438431
13,2014,20461913631,18119252149,2342661482,38581165780,-3.147142,-3.777740,-3.444322
14,2015,19618414393,15100239873,4518174520,34718654266,-4.122289,-16.661903,-10.011391
15,2016,16737988800,12771343238,3966645562,29509332038,-14.682255,-15.422912,-15.004390
16,2017,19779121415,12595233519,7183887896,32374354934,18.169044,-1.378944,9.708871
17,2018,20114054526,14324850972,5789203554,34438905498,1.693367,13.732317,6.377117
18,2019,18406010533,13028629358,5377381175,31434639891,-8.491794,-9.048762,-8.723464
19,2020,17912295025,10449019543,7463275482,28361314568,-2.682360,-19.799549,-9.776875

In [12]:
df.dtypes

PAÍS                           object
EXPORTAÇÃO (JAN - JUN/2020)     int64
EXPORTAÇÃO (JAN/JUN2019)        int64
IMPORTAÇÃO (JAN/JUN2020)        int64
IMPORTAÇÃO (JAN/JUN2019)        int64
SALDO(2020)                     int64
SALDO(2019)                     int64
CORRENTE (2020)                 int64
CORRENTE (2019)                 int64
dtype: object